.recipesList {
    margin: 48px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.recipesListSmall {
    margin: 48px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.recipesListDev {
    margin: 48px 16px;
}