.recipesList {
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.recipesListSmall {
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.recipesListDev {
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}